@use "sass:math";

@function strip-units($number) {
  @return math.div($number, $number * 0 + 1);
}

@function rounding($value, $exp: 100) {
  @return math.ceil($value * $exp) / $exp;
}

@function toRem($value) {
  @return math.div(strip-units($value), strip-units($baseFs))+rem;
}

@function clamp1($max, $min) {
  $clampMin: toRem($min);
  $clampVal: calc( $clampMin + strip-units($max - $min) * (100vw - toRem(strip-units($viewport-min))) / strip-units($viewport-max - $viewport-min));
  $clampMax: toRem($max);

  @return clamp($clampMin, $clampVal, $clampMax);
}