/*  global.scss  */
.page {
    // font-size: $baseFs;
  &__body {
    font-family: var(--body-ff);
    font-size: var(--body-fs);
    line-height: var(--body-lh);
    background-color: var(--body-bg);
    color: var(--body-color);
  }
}

h1 {
  font-size: var(--h1-fs);
}

h2 {
  font-size: var(--h2-fs);
}

h3 {
  font-size: var(--h3-fs);
}

h4 {
  font-size: var(--h4-fs);
}

h5 {
  font-size: var(--h5-fs);
}

h6 {
  font-size: var(--h6-fs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--heading-mb);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-top: 0;
}

p {
  margin-bottom: var(--paragraph-mb);
}
