@use "sass:math";

@mixin grid($grid-columns: 12) {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  column-gap: var(--column-gap, 1rem);
}

@mixin fluid-text($max: 18, $min: 16) {
  font-size: clamp1($max,$min);
}
