.container {
    margin-inline: auto;
    padding-inline: var(--container-offset);
    max-width: var(--container-width);
}


.btn {
    border-radius: toRem(4);
    padding: 0.85em 2em 1em;
    font-weight: 700;

    &-primary {
        color: var(--light-color);
        background-color: var(--primary-color);
    }
}